@use "@styles/color";
@use "@styles/space";
@use "@styles/font";
@use "@styles/breakpoint";

.issueContainer {
  display: flex;
  flex-direction: column;
  gap: space.$s6;
}

.container {
  background: white;
  box-sizing: border-box;
  overflow: hidden;

  @media (min-width: breakpoint.$desktop) {
    border: 1px solid color.$gray-200;
    box-shadow:
      0 4px 8px -2px rgb(16 24 40 / 10%),
      0 2px 4px -2px rgb(16 24 40 / 6%);
    border-radius: space.$s2;
  }
}

.table {
  display: block;
  width: 100%;
  border-collapse: collapse;

  @media (min-width: breakpoint.$desktop) {
    display: table;
  }
}

.tbody {
  display: block;

  @media (min-width: breakpoint.$desktop) {
    display: table-row-group;
  }
}
.headerRow {
  /* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
  /* Hiding class, making content visible only to screen readers but not visually */
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  border-bottom: 1px solid color.$gray-200;

  @media (min-width: breakpoint.$desktop) {
    clip: auto;
    clip-path: none;
    height: auto;
    overflow: unset;
    position: relative;
    white-space: nowrap;
    width: auto;
  }
}

.headerCell {
  padding: space.$s3 space.$s6;
  text-align: left;
  color: color.$gray-500;
  font: font.$text-xs-medium;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: space.$s4 space.$s6;
  border-top: 1px solid color.$gray-200;
}

.paginationButton {
  height: 38px;
  padding: space.$s0 space.$s4;
  background: white;
  border: 1px solid color.$gray-300;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border-radius: 6px;
}

.paginationButton:not(:first-of-type) {
  margin-left: space.$s3;
}

.pageInfo {
  color: color.$gray-700;
  font: font.$text-sm-regular;
}

.pageNumber {
  font: font.$text-sm-medium;
}
