@use "@styles/color";
@use "@styles/space";
@use "@styles/font";
@use "@styles/breakpoint";

/*
$desktop breakpoint works well with iPad Pro rotation
*/
.filters {
  display: flex;
  gap: space.$s4;
  flex-direction: column;

  @media (min-width: breakpoint.$desktop) {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.input {
  width: 100%;

  @media (min-width: breakpoint.$desktop) {
    width: 280px;
  }
}

.select {
  width: 100%;

  @media (min-width: breakpoint.$desktop) {
    width: 160px;
  }
}

.select li:first-of-type {
  color: color.$gray-500;
}

.icon {
  width: 20px;
  height: 20px;
  display: flex;
}
