$s0: 0;
$s1: 0.25rem;
$s1-375: 0.375rem;
$s2: 0.5rem;
$s2-625: 0.625rem;
$s3: 0.75rem;
$s3-875: 0.875rem;
$s4: 1rem;
$s4-125: 1.125rem;
$s5: 1.25rem;
$s6: 1.5rem;
$s8: 2rem;
$s10: 2.5rem;
$s12: 3rem;
$s16: 4rem;
$s20: 5rem;
$s24: 6rem;
